.analytics__container {
  min-width: 700px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

.analytics__container__header {
  flex-shrink: 0;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  text-align: left;
  height: 80px;
  margin-right: 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.analytics__main {
  box-sizing: border-box;
  padding-right: 10px;
  display: grid;
  max-width: 900px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-height: fit-content;
}

.analytics__main__section {
  padding: 12px;
  box-sizing: border-box;
}

.analytics__main__item__container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24.51px;
  text-align: left;
}

.analytics__main__item__color {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #90c4cc;
  margin-right: 10px;
}
.analytics__main__item{
    display: flex;
    align-items: center;
    gap: 8px;
}