.dashboard__container {
  min-width: 700px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  margin-bottom: 4px;
}

.dashboard__container__header {
  width: 100%;
  flex-shrink: 0;
}
.dashboard__header__top {
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  text-align: left;
  height: 65px;
  margin-right: 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.dashboad__header__date {
  font-size: 17px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: #707070;
  display: flex;
  align-items: center;
}
.dashboard__header__bottom {
  height: 55px;
  box-sizing: border-box;
  margin-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard__header__bottom__left {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 29px;
  font-weight: 500;
  line-height: 43.5px;
  text-align: left;
}
.dashboard__header__bottom__left > button {
  color: #707070;
  border: none;
  background-color: transparent;
  display: flex;
  gap: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  align-items: center;
}
.dashboard__header__bottom__left > button > img {
  width: 17px;
}
.dashboard__header__bottom__right {
  height: 100%;
}

.dashboard__header__bottom__right > select {
  padding: 3px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.dashboard__main {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 15px;
  box-sizing: border-box;
  height: calc(100% - 120px);
  padding-bottom: 20px;
  margin-bottom: 4px;
}

.dashboard__section {
  width: 360px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 16px;
  box-sizing: border-box;
  flex-shrink: 0;
  background: #eef2f5;
}

.dashboard__section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.dashboard__section__header > p {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.dashboard__section__header__buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}
.dashboard__section__header__buttons > button {
  width: 18px;
  border: none;
}
.task__container {
  min-height: 200px;
  max-height: calc(100vh - 280px);
  overflow-y: auto;
  border-radius: 5px;
}
