.notfound-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: fit-content;
  background: url("../../assets/coconut-tree-4389028_1280.png"),
    linear-gradient(135deg, #8e44ad, #3498db);
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
}

.notfound-error h1 {
  font-size: 8rem;
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.notfound-error .pulse {
  animation: notFound-pulse 1.5s infinite;
}

@keyframes notFound-pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    color: rgb(255, 175, 1);
    transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.notfound-message {
  font-size: 1.2rem;
  margin-bottom: 30px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.notfound-home-button {
  padding: 12px 24px;
  border: none;
  background-color: #f39c12;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.notfound-home-button:hover {
  background-color: #e67e22;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .notfound-error h1 {
    font-size: 6rem;
  }
  .notfound-message {
    font-size: 1rem;
  }
  .notfound-home-button {
    padding: 10px 20px;
  }
}
