.addTask__container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  font-size: 14px;
  font-weight: 500;
}

.addTask__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px;
  width: 500px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
}
.required {
  color: red;
}
.addTask__box__title {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 6px;
}

.addTask__box__title > input {
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 8px;
}

.addTask__box__priority {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.addTask__priority__button__container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.addTask__priority__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 10px;
  font-weight: 500;
  line-height: 21px;
  height: 25px;
  width: 130px;
  border-radius: 8px;
  border: 1px solid #d0d0d0;
  background-color: transparent;
}
.addTask__priority__color {
  height: 10px;
  width: 10px;
  border-radius: 100%;
}

.addTask__box__assignee {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 0 10px 0;
}
.addTask__box__assignee__container {
  position: relative;
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  padding-right: 4px;
}

.addTask__box__assignee__container {
  width: 100%;
  height: 100%;
}

.assignee__container__input {
  width: 100%;
  height: 100%;
}

.assignee__container__input > input {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1px solid #767575;
  box-sizing: border-box;
  padding: 8px;
}
.assignee__container__input > button {
  position: absolute;
  background-color: transparent;
  right: 10px;
  top: 2px;
  border: none;
  height: 30px;
  width: 30px;
}

.assignee__container__input > button > img {
  width: 100%;
  height: 100%;
}

.assignee__container {
  position: absolute;
  z-index: 10;
  top: 40px;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #767575;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  border: 1px solid #767575;
  margin-right: 4px;
}

.assignee__search__user {
  display: flex;
  border-radius: 7px;
  margin: 2px 4px 2px 4px;
  justify-content: space-between;
  align-items: center;
  padding-right: 25px;
}
.assignee__search__user:hover {
  background-color: #f5f5f5;
}
.assignee__search__user > button {
  background-color: transparent;
  color: #17a2b8;
  border: 1px solid #17a2b8;
  border-radius: 7px;
  padding: 3px 25px;
}
.assignee__search__user > button:disabled {
  color: #767575 !important;
  border-color: #767575 !important;
}
.assignee__search__user > button:hover {
  color: #17a2b8;
  border-color: #17a2b8;
}
/* from here onwards, styles for checklist */
.addTask__box__checklist {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: start;
  gap: 6px;
  height: calc(100% - 200px);
  overflow: hidden;
}

.addTask__box__checklist__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  overflow-y: auto;
  padding-right: 10px;
  margin-top: 5px;
}

.checklist__items {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checklist__item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.checklist__item > input[type="text"] {
  height: 35px;
  flex-grow: 1;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 8px;
  border: 1px solid #d0d0d0;
}
.checklist__item > input[type="checkbox"] {
  position: absolute;
  left: 10px;
}

.delete__icon {
  position: absolute;
  right: 7px;
  top: 8px;
  background: none;
  border: none;
  cursor: pointer;
}

.delete__icon img {
  width: 20px;
  height: 20px;
}

.checklist__items > button {
  align-self: flex-start;
  background-color: transparent;
  color: #767575;
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}
/* ends here */
.addTask__box__bottom {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 10px;
  height: 50px;
}
.addTask__bottom__button {
  display: flex;
  gap: 10px;
  align-items: center;
}

.addTask__bottom__button > button,
.addTask__bottom__dueDate {
  border-radius: 12px;
  height: 36px;
  width: 130px;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  text-align: center;
}

.addTask__bottom__dueDate {
  width: 150px;
  background-color: transparent;
  border-radius: 12px;
  border: 1px solid #d0d0d0;
  opacity: 0px;
}

.addTask__bottom__button__cancel {
  background-color: transparent;
  border: red 2px solid;
  color: red;
}

.addTask__bottom__button__save {
  color: white;
  background-color: #17a2b8;
  border: none;
}

input.task__error {
  border-color: red !important;
}
