.section {
  width: 360px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 16px;
  box-sizing: border-box;
  flex-shrink: 0;
  background: #eef2f5;
}

.section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.section__header > p {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.section__header__buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.section__header__buttons > button {
  width: 18px;
  border: none;
}

.task__container {
  min-height: 200px;
  max-height: calc(100vh - 280px);
  overflow-y: auto;
  border-radius: 5px;
}
